DeviceMonitor/Connected Services/ServiceReference1/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IACtxPlusCLI" />
  <xs:element name="AppendCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Commandstr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlightId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Commandstr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlightId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteCommandResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Commandstr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FlightId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlightAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlightAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getFlightAttributeResult" nillable="true" type="q1:ArrayOfKeyValueOfstringFlightPlanzsY_SOkxf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="heartBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accout" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accout" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserToOnlineList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserToOnlineListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUserToOnlineListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserRoleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUserRoleListResult" nillable="true" type="q2:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrainningState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrainningStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getTrainningStateResult" type="q3:TrainningGroupState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTrainningGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="trainningGroup" nillable="true" type="q4:ArrayOfKeyValueOfstringArrayOfKeyValueOfPlanTypestringlgrEfMrMty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTrainningGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="trainningGroup" nillable="true" type="q5:ArrayOfKeyValueOfstringArrayOfKeyValueOfPlanTypestringlgrEfMrMty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserToTrainningGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrainingGroupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeUserToTrainningGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startTrainning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrainingGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reStartTrainning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrainingGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stopTrainning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrainingGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pauseTrainning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrainingGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="continueTrainning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrainingGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUserAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AuthorityTypeGroup" nillable="true" type="q6:ArrayOfKeyValueOfstringAuthorityGroupzsY_SOkxf" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadAllAuthorityData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAuthorityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrainingGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAuthorityDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllAuthorityDataResult" nillable="true" type="q7:ArrayOfKeyValueOfstringAuthorityGroupzsY_SOkxf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="dataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="dataResult" type="q8:AuthorityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getUserAuthorityResult" nillable="true" type="q9:ArrayOfKeyValueOfstringAuthorityGroupzsY_SOkxf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isOnLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isOnLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isOnLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignAttribute">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetSignAttributeResult" nillable="true" type="q10:ArrayOfSignAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSigns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetSignsResult" nillable="true" type="q11:ArrayOfSign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientSign">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientSignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getClientSignResult" nillable="true" type="q12:ClientSign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setClientSign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="sign" nillable="true" type="q13:Sign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSignIsCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isCustom" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeFlightPlanProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flightNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trainGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGroupUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllGroupUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getAllGroupUserResult" nillable="true" type="q14:ArrayOfRoleUserRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTrainingGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTrainingGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getAllTrainingGroupResult" nillable="true" type="q15:ArrayOfTrainPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPredictionLineByDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flightId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="getPredictionLineByDistance" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPredictionLineByDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IACtxPlusCLI" minOccurs="0" name="getPredictionLineByDistanceResult" nillable="true" type="q16:ArrayOfFPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPredictionLineByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="flightId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="getPredictionLineByTime" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPredictionLineByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IACtxPlusCLI" minOccurs="0" name="getPredictionLineByTimeResult" nillable="true" type="q17:ArrayOfFPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirPortId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAirPortIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAirPortIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onlineExceptionClear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setIsUserExecConfirm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isConfirm" type="xs:boolean" />
        <xs:element minOccurs="0" name="trainGroupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTrainningGroupByTrainingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="trainPlan" nillable="true" type="q18:TrainPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCallBackMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCallBackMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="getCallBackMessageResult" nillable="true" type="q19:ArrayOfFlightCallback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>